.pokemonDetailsContainer{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.backLink{
   width: 50%;
   margin: 50px 0;

}

.backLink a{
    background-color: red;
    color: white;
    padding: 5px 20px;
    outline: none;
    border: none;
    border-radius: 6px;
 }
.pokemonDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-shadow: 15px 9px 43px 17px rgba(0,0,0,0.1);
    padding: 18px;
    border-radius: 8px;
}

.topSection{
    display: flex;
    align-items: center;
    
}


.pokeTypes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.pokeTypes p{
    color: white;
    background-color: green;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 8px;

}
.statsContianer{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.stats{
display: flex;
justify-content: space-between;
font-weight: bold;
font-size: 15px;

}


.statsName{
    position: relative;
}
.statsName::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    height: 100%;
    top: 0;
    left: 140px;

}


.tapsContainer{
    border: none !important;
    outline: none !important;
}

.tapsContainer button{

    color: #666666;
    
}



